<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<link href="/stylesheets/web/pages/production.min.css" rel="stylesheet">
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container">
    <div class="container">
        <div class="container-title">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/resource">基地资源</a></li>
                <li class="active"><%= detail.title %></li>
            </ol>
        </div>
        <div class="container-content">
            <%- detail.rich_text %>
        </div>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../_base/foot.ejs %>