<div class="list-group">
    <a href="/" class="list-group-item">关于新易途</a>
    <a href="/brand" class="list-group-item">品牌保障</a>
    <a href="/safety" class="list-group-item">安全保障</a>
    <a href="/process" class="list-group-item">服务流程</a>
    <a href="/pay" class="list-group-item">付款和发票</a>
    <a href="/service" class="list-group-item">服务和监督</a>
    <a href="/connection" class="list-group-item">联系我们</a>
</div>