<% include ../_base/head.ejs %>
<% include ../_base/css.ejs %>
<link href="/stylesheets/web/pages/about.min.css" rel="stylesheet">
<% include ../_base/container.ejs %>
<% include ../_base/header.ejs %>
<div class="app-container container">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <div class="list-group">
                <% menu.forEach(function (m) { %>
                <a href="/about/<%= m.active %>"
                   class="list-group-item<%= active_menu === m.active ? ' active' : '' %>"><%= m.title %></a>
                <% }) %>
            </div>
        </div>
        <div class="col-lg-10"></div>
    </div>
</div>
<% include ../_base/footer.ejs %>
<% include ../_base/javascript.ejs %>
<script src="/src/about.min.js"></script>
<% include ../_base/foot.ejs %>