<div class="container-news">
    <div class="news-title">
        <div class="production-icon ta-c"><img src="/images/news.png"></div>
    </div>
    <div class="new-content container">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <div class="swiper-container" style="width: 80%;" id="news_swiper">
                    <div class="swiper-pagination" style="top: 68%;"></div>
                    <div class="swiper-wrapper" id="home_news_banner"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="col-lg-6">
                <div class="list-group" id="home_news_list"></div>
            </div>
        </div>
    </div>
</div>