<div class="container-production">
    <div class="production-icon ta-c"><img src="/images/production.png"></div>
    <div class="production-catalogs">
        <ul class="nav nav-pills" id="production_catalogs">
            <% catalogs.forEach(catalog=>{ %>
            <li role="presentation" class="<% catalogs.indexOf(catalog) === 0 ? 'active' : '' %>">
                <a href="#"><%= catalog.name %></a>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="production-content">
        <div class="col-sm-12" id="production_list"></div>
    </div>
</div>