<div class="container-resource">
    <div class="resource-title">
        <div class="title-icon ta-c"><img src="/images/resource.png"></div>
    </div>
    <div class="resource-catalogs">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="resource-list">
        <div class="container">
            <div class="bases-list" id="bases_list"></div>
        </div>
    </div>
</div>