<div class="container-resource">
    <div class="resource-title">
        <div class="title-icon ta-c"><img src="/images/resource.png"></div>
    </div>
    <div class="resource-catalogs">
        <div class="container">
            <ul id="resource_catalogs" class="nav nav-tabs" role="tablist"></ul>
        </div>
    </div>
    <div class="resource-list">
        <div class="container">
            <div class=" tab-content" id="resource_list"></div>
        </div>
    </div>
</div>