<div class="container-resource">
    <div class="resource-title">
        <div class="title-icon ta-c"><img src="/images/resource.png"></div>
    </div>
    <div class="resource-catalogs">
        <div class="container">
            <ul id="resource_catalogs" class="nav nav-tabs" role="tablist"></ul>
        </div>
    </div>
    <div class="resource-list">
        <div class="container">
            <div class=" tab-content" id="resource_list">
                <div role="tabpanel" class="tab-pane bases-list active" id="bjjqjd">
                    <% include ../../_static/base.ejs %>
                </div>
                <div role="tabpanel" class="tab-pane bases-list" id="bjcqjd">
                    <% include ../../_static/base.ejs %>
                </div>
                <div role="tabpanel" class="tab-pane bases-list" id="hbjd">
                    <% include ../../_static/base.ejs %>
                </div>
                <div role="tabpanel" class="tab-pane bases-list" id="cyjd">
                    <% include ../../_static/base.ejs %>
                </div>
                <div role="tabpanel" class="tab-pane bases-list" id="smjd">
                    <% include ../../_static/base.ejs %>
                </div>
                <div role="tabpanel" class="tab-pane bases-list" id="qgjd">
                    <% include ../../_static/base.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>