<div class="container-resource">
    <div class="resource-title">
        <div class="title-icon ta-c"><img src="/images/resource.png"></div>
    </div>
    <div class="resource-catalogs">
        <ul id="resource_catalogs" class="nav nav-tabs" role="tablist"></ul>
    </div>
    <div class="resource-list">
        <div class="tab-content" id="resource_list"></div>
    </div>
</div>