<div class="container-statistics">
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="statistics-content">
                    <span class="content-value">9</span>
                    <span class="content-company">年</span>
                </div>
                <div class="statistics-title">品牌信誉</div>
            </div>
            <div class="col-sm-3">
                <div class="statistics-content">
                    <span class="content-value">1000</span>
                    <span class="content-company">+</span>
                </div>
                <div class="statistics-title">海量产品</div>
            </div>
            <div class="col-sm-3">
                <div class="statistics-content">
                    <span class="content-value">8000</span>
                    <span class="content-company">+</span>
                </div>
                <div class="statistics-title">客户见证</div>
            </div>
            <div class="col-sm-3">
                <div class="statistics-content">
                    <span class="content-value">300000</span>
                    <span class="content-company">+</span>
                </div>
                <div class="statistics-title">学员体验</div>
            </div>
        </div>
    </div>
</div>