<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<link href="/stylesheets/web/pages/home.min.css" rel="stylesheet">
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container">
    <div class="container">
        <div class="container-header">
            <div class="container">
                <ul class="nav nav-pills">
                    <% catalogs.forEach(function (catalog) { %>
                    <li role="presentation">
                        <a href="?cid=<%= catalog.id %>"><%= catalog.name %></a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
        <div class="container-resource container-production">
            <div class="container">
                <div class="col-lg-12">
                    <div class="resource-list" id="resource_list"></div>
                </div>
            </div>
        </div>
        <div class="container-pagination">
            <div class="container ta-c">
                <ul id="pagination_list"></ul>
            </div>
        </div>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../../_base/twbs.pagination.js.ejs %>
<script charset="utf-8" src="/src/resource.min.js"></script>
<% include ../../_base/foot.ejs %>