@import "../../general/reset";
@import "../../general/lib";
@import "headers";
@import "container";
@import "footer";

// 商品的样式
.container-production {
  .production-item {
    margin-bottom: 2em;
    .production-icon {
      position: relative;
      background: #787878;
      img {
        width: 100%;
      }
      .production-layout {
        opacity: 0.5;
        position: absolute;
        display: none;
        width: 0;
        height: 0;
      }
      @keyframes enlarge {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      &:hover {
        .production-layout {
          display: block;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          color: #fff;
          background: #030303;
          animation: 0.5s enlarge;
        }
      }
    }
  }
}