@import "../../general/reset";
@import "../../general/lib";
@import "../../general/function";
@import "headers";
@import "container";
@import "footer";

$border-radius: 12px;

.swiper-pagination-bullet { // swiper分页器大小
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.swiper-pagination-bullet-active { // 激活的swiper分页器
  background-color: $background-color;
}

// 商品的样式
.container-production {
  .production-item {
    margin-bottom: 2em;
    .production-icon {
      border-radius: $border-radius;
      position: relative;
      background: #787878;
      img {
        width: 100%;
        border-radius: $border-radius;
      }
      .production-layout {
        border-radius: $border-radius;
        opacity: 0.8;
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        color: #fff;
        background: #030303;
      }
      &:hover {
        .production-layout {
          display: block;
        }
      }
      .production-title {
        margin: 10px;
        // todo 超出部分省略
        display: none;
      }
      .production-abstract {
        margin: 10px;
        // todo 超出部分省略
        display: none;
      }
    }
  }
}