@import "../../general/reset";
@import "../../general/lib";
@import "headers";
@import "container";
@import "footer";

// 商品的样式
.container-production {
  .production-item {
    .production-icon {
      img {
        width: 100%;
      }
      .production-layout {
        opacity: 0.5;
        position: absolute;
        display: none;
        width: 0;
        height: 0;
      }
      &:hover {
        .production-layout {
          display: block;
          height: 100%;
          width: 100%; // TODO hover框大于原框
          top: 0;
          left: 0;
          background: #fff4c2;
        }
      }
    }
  }
}