<% include ../_base/head.ejs %>
<% include ../_base/css.ejs %>
<% include ../../_base/dataTables.css.ejs %>
<% include ../_base/container.ejs %>
<% include ../_base/header.ejs %>
<div class="app-container container">
    <div class="container-header">
        <h2>
            <%= title %>
            <button type="button" class="btn btn-primary ml-2e" id="add_catalog">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </h2>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <table id="catalog_list" class="table table-striped table-bordered table-condensed" width="100%"></table>
        </div>
    </div>
</div>
<% include ./detail.ejs %>
<% include ../_base/footer.ejs %>
<% include ../_base/javascript.ejs %>
<script charset="utf-8">
    window.type = '<%= type %>';
</script>
<% include ../../_base/dataTables.js.ejs %>
<script src="/src/catalog.admin.min.js" charset="utf-8"></script>
<% include ../_base/foot.ejs %>