<div class="col-lg-3">
    <div class="base-item">
        <div class="base-icon mt-1e"><img width="100%" src="/_static/resource.icon1.jpg"></div>
        <div class="base-title mt-1e"><h2>内蒙古大草原</h2></div>
        <div class="base-abstract mt-1e">
            内蒙古草原是指以北部呼伦贝尔为中心的大兴安岭西麓林缘草甸草场，也是目前中国最佳的天然牧场之一，
            更是一处旅游胜地。西部是黄沙浩瀚的戈壁荒漠地带，高原上的大漠驼影，与草原的翠绿草色相映成趣。
        </div>
    </div>
</div>