<style>
    .image-description {
        font-size: 16px;
        font-family: 微软雅黑, 'Microsoft YaHei';
        margin: 1em auto;
        text-align: left;
    }
</style>
<div class="col-lg-12">
    <div class="container ta-c">
        <div class="mt-1e">
            <h2>承德避暑山庄</h2>
        </div>
        <div class="mt-1e">
            <img width="66%" src="/_static/resource.icon1.jpg">
        </div>
        <div class="image-description">
            承德避暑山庄又名“承德离宫”或“热河行宫”，位于河北省承德市中心北部，武烈河西岸一带狭长的谷地上，是清代皇帝夏天避暑和处理政务的场所。
        </div>
        <div class="mt-1e">
            <img width="66%" src="/_static/resource.icon2.jpg">
        </div>
        <div class="image-description">
            承德避暑山庄又名“承德离宫”或“热河行宫”，位于河北省承德市中心北部，武烈河西岸一带狭长的谷地上，是清代皇帝夏天避暑和处理政务的场所。
        </div>
        <div class="mt-1e">
            <img width="66%" src="/_static/resource.icon3.jpg">
        </div>
        <div class="image-description">
            承德避暑山庄又名“承德离宫”或“热河行宫”，位于河北省承德市中心北部，武烈河西岸一带狭长的谷地上，是清代皇帝夏天避暑和处理政务的场所。
        </div>
        <div class="mt-1e">
            <img width="66%" src="/_static/resource.icon4.jpg">
        </div>
        <div class="image-description">
            承德避暑山庄又名“承德离宫”或“热河行宫”，位于河北省承德市中心北部，武烈河西岸一带狭长的谷地上，是清代皇帝夏天避暑和处理政务的场所。
        </div>
    </div>
</div>