<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<% include ../../../_base/dataTables.css.ejs%>
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container">

</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../../_base/dataTables.js.ejs%>
<script src="/src/user.option.admin.min.js"></script>
<% include ../../_base/foot.ejs %>