<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<% include ../../../_base/dataTables.css.ejs %>
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container container">
    <div class="container-header"><h2><%= title %></h2></div>
    <div class="container-content">
        <div class="col-lg-12 mt-40">
            <table id="production_list" class="table-striped table-bordered table-condensed" width="100%"></table>
        </div>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../../_base/dataTables.js.ejs %>
<script src="/src/production.admin.min.js"></script>
<% include ../../_base/foot.ejs %>