<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<link href="/stylesheets/web/pages/production.min.css" rel="stylesheet">
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container">
    <div class="container-example">
        <div class="container">
            <div class="col-lg-12">
                <% include ../../../_static/example.ejs %>
            </div>
        </div>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../_base/foot.ejs %>