<nav class="app-header navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin"><%= GLO.LOGO_NAME %> - 后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" aria-haspopup="true">
                        <i class="glyphicon glyphicon-cog"></i> 全局配置<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/option"><i class="gglyphicon glyphicon-pencil"></i> 通用参数配置</a></li>
                        <li><a href="/admin/option/user"><i class="glyphicon glyphicon-user"></i> 管理员列表</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false" aria-haspopup="true">
                        <i class="glyphicon glyphicon-home"></i> 首页设置<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/home/banner"><i class="glyphicon glyphicon-film"></i> 广告栏设置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/admin/login/off" title="退出">
                        <i class="glyphicon glyphicon-log-out"></i> 退出
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>