<div class="app-footer">
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <h3 class="ta-c">在线反馈</h3>

                <div class="footer-feedback mt-40">
                    <form class="form-horizontal" id="feedback_form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="f_name" placeholder="您的姓名">

                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="f_phone" placeholder="您的手机号码" maxlength="11">

                                <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="f_content" rows="3" placeholder="您要留言的内容"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button id="f_submit" type="button" class="btn btn-warning wi-10e">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <h3 class="ta-c">联系我们</h3>

                <div class="footer-connection mt-40">
                    <dl class="dl-horizontal">
                        <dt>公司名称 :</dt>
                        <dd>北京新易途文化传播有限公司</dd>
                        <dt>公司地址 :</dt>
                        <dd>北京市怀柔区凤翔东大街9号A座</dd>
                        <dt>服务热线 :</dt>
                        <dd>010-57334433</dd>
                        <dt>公司邮箱 :</dt>
                        <dd>2740018711@qq.com</dd>
                        <dt>客服QQ :</dt>
                        <dd>2740018711 / 3203826164</dd>
                        <dt>销售经理 :</dt>
                        <dd>15011203138 / 15011120034</dd>
                    </dl>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-qrcode mt-40">
                    <div class="dp-ib qrcode-item qrcode-weibo">
                        <img width="100%" src="/images/weibo.png" alt="官方微博">

                        <h3 class="ta-c">官方微博</h3>
                    </div>
                    <div class="dp-ib qrcode-item">
                        <img width="100%" src="/images/wechat.jpg" alt="官方微信">

                        <h3 class="ta-c">官方微信</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>