<div class="app-footer">
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <h3 class="ta-c">在线反馈</h3>

                <div class="footer-feedback mt-40">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="f_name" placeholder="您的姓名">

                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="f_phone" placeholder="您的电话">

                                <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="f_content" rows="3" placeholder="您要留言的内容"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="f_submit" type="button" class="btn btn-warning wi-10e">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="ta-c">联系我们</h3>

                <div class="footer-connection mt-40">
                    <dl class="dl-horizontal">
                        <dt>公司地址：</dt>
                        <dd>北京昌平北清路珠江摩尔国际中心5-1-807</dd>
                        <dt>服务热线：</dt>
                        <dd>400-650-1833</dd>
                        <dt>公司总机：</dt>
                        <dd>010-82608287</dd>
                        <dt>邮箱地址：</dt>
                        <dd>qicaiteam@tzxl.cn</dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="footer-qrcode mt-40">
                    <div class="dp-ib qrcode-item qrcode-weibo">
                        <img width="100%" src="/images/weibo.png" alt="官方微博">

                        <h3 class="ta-c">官方微博</h3>
                    </div>
                    <div class="dp-ib qrcode-item">
                        <img width="100%" src="/images/wechat.jpg" alt="官方微信">

                        <h3 class="ta-c">官方微信</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>