<div class="app-footer">
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <h3>在线反馈</h3>
            </div>
            <div class="col-sm-4">
                <h3>联系我们</h3>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>