<div class="app-header">
    <div class="col-lg-12">
        <div class="header-logo col-lg-2">
            <a href="/" class="logo-ico">
                <img src="/images/logo-s.png" width="100%">
            </a>
        </div>
        <div class="header-nav col-lg-8">
            <%- include menu.ejs %>
        </div>
        <div class="header-connection col-lg-2">
            <div class="connection-container">
                <img src="/images/tel.png">
                <span>010-57334433</span>
            </div>
        </div>
    </div>
</div>