<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <meta name="keywords" content="怀柔拓展,怀柔拓展基地,怀柔拓展培训基地,怀柔拓展培训,怀柔拓展训练,怀柔拓展公司,新易途拓展">
    <meta name="description"
          content="北京新易途拓展（www.hrtour.cn）体验热线：010-57334433，隶属于北京新易途文化传播有限公司。新易途拓展业务涉及团队建设、拓展训练、野外穿越、红色教育、党建、军事拓展、青少年管理、企业年会、企业家庭日、团队骑行、趣味运动会。我们有强大的后勤顾问和培训师团队，各类团队建设活动一站式服务。">
    <meta name="renderer" content="webkit">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">