<div class="app-header">
    <div class="col-sm-12">
        <div class="header-logo col-sm-2">
            <a href="/" class="logo-ico">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="header-nav col-sm-8">
            <%- include menu.ejs %>
        </div>
        <div class="header-connection col-sm-2">

        </div>
    </div>
</div>