<div class="app-header">
    <div class="col-lg-12">
        <div class="header-logo col-lg-2">
            <a href="/" class="logo-ico">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="header-nav col-lg-8">
            <%- include menu.ejs %>
        </div>
        <div class="header-connection col-lg-2">
        </div>
    </div>
</div>