<div class="app-header container">
    <div class="header-logo">
        <a href="/" class="logo-ico"></a>
    </div>
    <div class="header-nav"></div>
    <div class="header-connection"></div>
</div>