<% include ../_base/head.ejs %>
<% include ../_base/css.ejs %>
<link href="/stylesheets/admin/pages/login.min.css" rel="stylesheet">
<% include ../_base/container.ejs %>
<nav class="app-header navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= GLO.LOGO_NAME %> - 后台管理系统</a>
        </div>
    </div>
</nav>
<div class="app-container container">
    <div class="container-header container">
        <h2><%= title %></h2>
    </div>
    <div class="container-content col-lg-12 mt-40">
        <form class="form-horizontal" id="login_form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user">用户名</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="user" name="user">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="pwd">密码</label>
                <div class="col-sm-4">
                    <input class="form-control" type="password" id="pwd" name="pwd">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="form-submit btn btn-primary" type="button" id="login_submit">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../_base/footer.ejs %>
<% include ../_base/javascript.ejs %>
<script src="/src/login.admin.min.js"></script>
<% include ../_base/foot.ejs %>