<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<link href="/stylesheets/web/pages/production.min.css" rel="stylesheet">
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container">
    <div class="container">
        <div class="container-title">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/case">服务案例</a></li>
                <li class="active">案例</li>
            </ol>
        </div>
        <div class="container-content">
            <% include ../../../_static/case.detail.ejs %>
        </div>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../_base/foot.ejs %>