<% include ./_base/head.ejs %>
<% include ./_base/css.ejs %>
<% include ./../_base/swiper.css.ejs %>
<link href="/stylesheets/web/pages/home.min.css" rel="stylesheet">
<% include ./_base/container.ejs %>
<% include ./_base/header.ejs %>
<div class="app-container">
    <div class="container">
        <h2 class="text-warning"><%= message %></h2>
        <div class="ta-c mt-3e">
            <a href="/home">
                <img width="66.6%" src="/images/404.jpg">
            </a>
        </div>
    </div>
</div>
<% include ./_base/footer.ejs %>
<% include ./_base/javascript.ejs %>
<% include ./../_base/swiper.js.ejs %>
<% include ./_base/foot.ejs %>