<% include ../../_base/head.ejs %>
<% include ../../_base/css.ejs %>
<% include ../../../_base/dataTables.css.ejs %>
<% include ../../_base/container.ejs %>
<% include ../../_base/header.ejs %>
<div class="app-container dp-t">
    <div class="container-header container">
        <h2><%= title %></h2>
    </div>
    <div class="container-content col-lg-12">
        <table id="feedback_list" class="table table-hover table-condensed" width="100%"></table>
    </div>
</div>
<% include ../../_base/footer.ejs %>
<% include ../../_base/javascript.ejs %>
<% include ../../../_base/dataTables.js.ejs %>
<script charset="utf-8" src="/src/feedback.option.admin.min.js"></script>
<% include ../../_base/foot.ejs %>