@import "../general/frame";

.container-banner {
  width: 100%;
  .swiper-container {
    max-height: 360px;
    max-width: 100%;
  }
}

.container-production {
  .production-item {
    .production-icon {
      img {
        width: 100%;
      }
    }
  }
}