@import "../general/frame";

.container-banner {
  width: 100%;
  .swiper-container {
    max-height: 360px;
    max-width: 100%;
  }
}

.container-statistics {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fcfcfc;
  .statistics-content {
    color: #ee7600;
    .content-value {
      font-size: 40px;
      font-weight: bolder;
    }
    .content-company {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .statistics-title {
    font-size: 20px;
    color: #717171;
  }
}

#home_news_list {
  a {
    margin-bottom: 2px;// 新闻间隔
  }
}

//首页基地资源
.resource-catalogs{
   a{
    font-size: 12px;
    font-weight: 600;
  }
}
